<h4>Kalender Kerja</h4>
<div class="nav">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper row">
            <div class="col s8">
                <div class="left" style="display: flex">
                    <div style="display: inline-flex;">
                        <label style="font-size: large; margin-right: 20px">Tahun</label>
                        <select class="browser-default" (change)="filterDataKalenderKerja('tahun', $event.target)">
                            <option *ngFor="let row of tahun" [value]="row">
                                {{ row }}
                            </option>
                        </select>
                        <button class="space"></button>
                    </div>

                    <div style="display: inline-flex;">
                        <label style="font-size: large; margin-right: 20px">Lokasi</label>
                        <select class="browser-default" (change)="filterDataKalenderKerja('lokasi', $event.target)">
                            <option *ngFor="let row of lokasi" [value]="row">
                                {{ row }}
                            </option>
                        </select>
                        <button class="space"></button>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <ul class="right">
                    <li>
                        <button class="download waves-effect waves-dark transparent">
                            Download
                        </button>
                    </li>
                    <li>
                        <button class="tambah waves-effect waves-light" (click)="tambahData()">
                            Tambah
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<table class="responsive-table striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Hari</th>
            <th>Tanggal</th>
            <th>Keterangan</th>
            <th>Divisi</th>
            <th>Lokasi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of filteredKalenderKerja, index as i">
            <td (click)="editData(row)">{{ i + 1 }}</td>
            <td (click)="editData(row)">{{ row.hari }}</td>
            <td (click)="editData(row)">{{ dateFormat(row.tgl) }}</td>
            <td (click)="editData(row)">{{ row.keterangan }}</td>
            <td (click)="editData(row)">{{ row.divisi }}</td>
            <td (click)="editData(row)">{{ row.lokasi }}</td>
            <td>
                <button (click)="deleteData(row.id)" class="waves-effect waves-light right red darken-2">
                    <i class="material-icons" style="font-size: 15px">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>