<h5>List Kehadiran</h5>

<div class="content">
    <div class="left">
        <table class="responsive-tabel striped jadwal">
            <thead>
                <th>Tanggal</th>
                <th>Hari</th>
                <th>Jadwal</th>
                <th>Jadwal Kerja</th>
                <th>Jadwal istirahat</th>
                <th>Masuk</th>
                <th>Keluar</th>
                <th>Status</th>
                <th>JK</th>
                <th>TI</th>
                <th>OT</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let row of jadwalKerjaPerMonth">
                    <td (click)="editJadwalkerja(row)">{{formatDate(row.tgl)}}</td>
                    <td (click)="editJadwalkerja(row)">{{row.hari}}</td>
                    <td (click)="editJadwalkerja(row)">{{row.id_jadwal_kerja}}</td>
                    <td (click)="editJadwalkerja(row)">{{splitTime(row.masuk)+' - '+splitTime(row.keluar)}}</td>
                    <td (click)="editJadwalkerja(row)">
                        {{splitTime(row.start_break)+' - '+splitTime(row.end_break)}}
                    </td>
                    <td (click)="editJadwalkerja(row)">{{row.masuk}}</td>
                    <td (click)="editJadwalkerja(row)">{{row.keluar}}</td>
                    <td (click)="editJadwalkerja(row)">{{row.status_cuti}}</td>
                    <td (click)="editJadwalkerja(row)">{{row.total}}</td>
                    <td (click)="editJadwalkerja(row)">0</td>
                    <td (click)="editJadwalkerja(row)">0</td>
                    <td>
                        <img class="waves-effect waves-light" src="../../../assets/icon/list_edit.svg" alt="list_edit"
                            mat-button [matMenuTriggerFor]="menu">
                        <mat-menu #menu>
                            <button mat-menu-item (click)="cuti('Cuti Tahunan', row)">Cuti Tahunan</button>
                            <button mat-menu-item (click)="cuti('Cuti Khusus', row)">Cuti Khusus</button>
                            <button mat-menu-item (click)="cuti('Izin', row)">Izin</button>
                            <button mat-menu-item (click)="cuti('Perjalanan Dinas', row)">Perjalanan Dinas</button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="right">
        <button class="print waves-effect waves-dark" [matMenuTriggerFor]="menu">
            Print
        </button>

        <mat-menu #menu>
            <button mat-menu-item (click)="printData('Individu')">Download by Individu</button>
            <button mat-menu-item (click)="printData('Category')">Download by Category</button>
        </mat-menu>

        <p class="label">Periode</p>
        <input type="month" name="periode" id="periode" [(ngModel)]="selectedMonth"
            (ngModelChange)="getJadwalKerjaPerMonth($event)">

        <p class="label">Nama</p>
        <div class="nip-name">
            <input type="number" name="nip" id="nip" class="browser-default" [matAutocomplete]="auto"
                [value]="selectedDataListKehadiran?.nip" (input)="filterDataListKehadiran($event.target)">

            <mat-autocomplete #auto>
                <mat-option *ngFor="let option of filteredDataListKehadiran"
                    (click)="selectDataListKehadiran(option)">{{option.nip}}</mat-option>
            </mat-autocomplete>
            <p class="name">{{selectedDataListKehadiran?.nama_lengkap}}</p>

            <button class="filter">
                <mat-icon id="filter" fontIcon="filter_list" class="waves-effect waves-dark"
                    (click)="filterDialog()"></mat-icon>
            </button>
        </div>

        <table class="responsive-tabel striped profil">
            <thead>
                <th>NIP</th>
                <th>Nama</th>
                <th>Perusahaan</th>
            </thead>
            <tbody>
                <tr *ngFor="let row of dataListKehadiran">
                    <td (click)="selectDataListKehadiran(row)">{{row.nip}}</td>
                    <td (click)="selectDataListKehadiran(row)">{{row.nama_lengkap}}</td>
                    <td (click)="selectDataListKehadiran(row)">{{row.perusahaan}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>