<h4>Lokasi</h4>
<div class="nav">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper row">
      <div class="col s3">
        <form (ngSubmit)="searchData(search.value)">
          <input #search class="search" type="text" name="search" placeholder="Cari Nama/Inisial Lokasi.." />
        </form>
      </div>
      <div class="col s9">
        <ul class="right">
          <li>
            <mat-paginator class="transparent" (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOption" [showFirstLastButtons]="showFirstLastButtons" [pageIndex]="pageIndex">
            </mat-paginator>
          </li>
          <li>
            <button class="download waves-effect waves-dark transparent">
              Download
            </button>
          </li>
          <li>
            <button class="tambah waves-effect waves-light" (click)="tambahData()">
              Tambah
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<table class="responsive-table striped">
  <thead>
    <tr>
      <th>ID Lokasi</th>
      <th>Lokasi</th>
      <th>Inisial</th>
      <th>Alamat</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td (click)="editData(row)">{{ row.id }}</td>
      <td (click)="editData(row)">{{ row.keterangan }}</td>
      <td (click)="editData(row)">{{ row.inisial_lokasi }}</td>
      <td (click)="editData(row)">{{ row.alamat_lokasi }}</td>
      <td>
        <button (click)="deleteData(row.id)" class="waves-effect waves-light right red darken-2">
          <i class="material-icons" style="font-size: 15px">close</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>