<!-- MODAL EDIT DETAIL -->
<div class="tambah" *ngIf="editDetail">
  <h2 mat-dialog-title>Jadwal Kerja -
    {{dateFormat(data.data.dataProfil.jadwal_kerja[data.data.indexBln][data.data.indexTgl].tgl)}}
  </h2>
  <mat-dialog-content>
    <div class="right">
      <h6>NIP</h6>
      <input type="text" class="browser-default nip" disabled [value]="data.data.dataProfil.nip" />
      <p class="nama">{{data.data.dataProfil.nama_lengkap}}</p>
    </div>
    <div class="right">
      <h6>Divisi</h6>
      <input type="text" class="browser-default disabled subdepartemen" disabled
        [value]="data.data.dataProfil.divisi" />
    </div>
    <div class="right">
      <h6>Departemen</h6>
      <input type="text" class="browser-default disabled subdepartemen" disabled
        [value]="data.data.dataProfil.departemen" />
    </div>
    <div class="right">
      <h6>Sub Departemen</h6>
      <input type="text" class="browser-default disabled subdepartemen" disabled
        [value]="data.data.dataProfil.sub_departemen" />
    </div>
    <div class="right">
      <h6>Jadwal</h6>
      <select class="browser-default"
        [(ngModel)]="data.data.dataProfil.jadwal_kerja[data.data.indexBln][data.data.indexTgl].id_jadwal_kerja"
        (change)="selectJadwalKerja()">
        <option *ngFor="let row of allJadwalKerja" [value]="row.id_jadwal_kerja">
          {{ row.id_jadwal_kerja }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div class="right">
      <h6>Jam Masuk</h6>
      <input type="time" class="browser-default disabled" [value]="selectedJadwalKerja.masuk" />
      <h6 style="width: 25px">s.d</h6>
      <input type="time" class="browser-default disabled sd" [value]="selectedJadwalKerja.keluar" />
    </div>
    <div class="right">
      <h6>Jam Istirahat</h6>
      <input type="time" class="browser-default disabled" [value]="selectedJadwalKerja.mulai_istirahat" />
      <h6 style="width: 25px">s.d</h6>
      <input type="time" class="browser-default disabled sd" [value]="selectedJadwalKerja.selesai_istirahat" />
    </div>
    <div class="right">
      <h6>Total Jam Kerja</h6>
      <input type="text" class="browser-default disabled total" disabled [value]="selectedJadwalKerja.total" />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="simpan waves-effect waves-light" mat-dialog-close="simpan" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- MODAL TAMBAH OR EDIT CATEGORY -->
<div class="tambah" *ngIf="tambahCategory || editCategory">
  <h2 mat-dialog-title>Jadwal Kerja By Category</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>Lokasi</h6>
      <select *ngIf="tambahCategory" class="browser-default category" [(ngModel)]="dataForUploadCategory.lokasi">
        <option *ngFor="let row of allBagianKerja" [value]="row.lokasi">
          {{ row.lokasi }}
        </option>
      </select>
      <select *ngIf="editCategory" class="browser-default category disabled" disabled>
        <option>
          {{ data.data.lokasi }}
        </option>
      </select>
      <button class="space category"></button>
    </div>
    <div class="right">
      <h6>Divisi</h6>
      <select *ngIf="tambahCategory" class="browser-default category" [(ngModel)]="dataForUploadCategory.divisi">
        <option *ngFor="let row of allBagianKerja" [value]="row.divisi">
          {{ row.divisi }}
        </option>
      </select>
      <select *ngIf="editCategory" class="browser-default category disabled" disabled>
        <option>
          {{ data.data.divisi }}
        </option>
      </select>
      <button class="space category"></button>
    </div>
    <div class="right">
      <h6>Departemen</h6>
      <select *ngIf="tambahCategory" class="browser-default category" [(ngModel)]="dataForUploadCategory.departemen">
        <option *ngFor="let row of allBagianKerja" [value]="row.departemen">
          {{ row.departemen }}
        </option>
      </select>
      <select *ngIf="editCategory" class="browser-default category disabled" disabled>
        <option>
          {{ data.data.departemen }}
        </option>
      </select>
      <button class="space category"></button>
    </div>
    <div class="right">
      <h6>Sub Departemen</h6>
      <select *ngIf="tambahCategory" class="browser-default category"
        [(ngModel)]="dataForUploadCategory.sub_departemen">
        <option *ngFor="let row of allBagianKerja" [value]="row.sub_departemen">
          {{ row.sub_departemen }}
        </option>
      </select>
      <select *ngIf="editCategory" class="browser-default category disabled" disabled>
        <option>
          {{ data.data.sub_departemen }}
        </option>
      </select>
      <button class="space category"></button>
    </div>
    <div class="right">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Hari</th>
            <th>Jadwal</th>
            <th>Jam Kerja</th>
            <th>Jam istirahat</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of minggu, index as i">
            <td>{{day.hari}}</td>
            <td>
              <div style="display: flex;">
                <select class="browser-default category table" [(ngModel)]="minggu[i].id_jadwal_kerja"
                  (change)="selectJadwalKerja()">
                  <option *ngFor="let row of allJadwalKerja" [value]="row.id_jadwal_kerja">
                    {{ row.id_jadwal_kerja }}
                  </option>
                </select>
                <button class="space category"></button>
              </div>
            </td>
            <td>{{minggu[i].masuk + ' - ' + minggu[i].keluar}}</td>
            <td>{{minggu[i].mulai_istirahat + ' - ' + minggu[i].selesai_istirahat}}</td>
            <td>{{minggu[i].total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="simpan waves-effect waves-light" mat-dialog-close="simpan" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- MODAL TAMBAH OR EDIT INDIVIDU -->
<div class="tambah" *ngIf="tambahIndividu || editIndividu">
  <h2 mat-dialog-title>Jadwal Kerja By Individu</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>NIP</h6>
      <input *ngIf="tambahIndividu" type="text" class="browser-default" [(ngModel)]="dataForUploadIndividu.nip"
        [matAutocomplete]="auto" (input)="filterNip()" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredKaryawan" (click)="selectNip(option)">{{ option.nip }}</mat-option>
      </mat-autocomplete>
      <input *ngIf="editIndividu" type="text" class="browser-default disabled" [value]="data.data.nip" disabled />
      <p class="nama" style="margin-left: 10px; margin-right: 25px;">{{dataForUploadIndividu.nama_lengkap}}</p>
    </div>
    <div class="right">
      <h6>Departemen</h6>
      <input *ngIf="tambahIndividu" type="text" class="browser-default individu disabled"
        [value]="dataForUploadIndividu.departemen" disabled />
      <input *ngIf="editIndividu" type="text" class="browser-default individu disabled" [value]="data.data.departemen"
        disabled />
      <h6 style="width: 55px; margin-left: 50px; text-align: right;">Dari</h6>
      <input *ngIf="tambahIndividu" type="date" class="browser-default" [(ngModel)]="dataForUploadIndividu.dari">
      <input *ngIf="editIndividu" type="date" class="browser-default disabled" [(ngModel)]="data.data.dari" disabled>
    </div>
    <div class="right">
      <h6>Perusahaan</h6>
      <input *ngIf="tambahIndividu" type="text" class="browser-default individu disabled"
        [value]="dataForUploadIndividu.perusahaan" disabled />
      <input *ngIf="editIndividu" type="text" class="browser-default individu disabled" [value]="data.data.perusahaan"
        disabled />
      <h6 style="width: 55px; margin-left: 50px; text-align: right;">Sampai</h6>
      <input *ngIf="tambahIndividu" type="date" class="browser-default" [(ngModel)]="dataForUploadIndividu.sampai">
      <input *ngIf="editIndividu" type="date" class="browser-default disabled" [(ngModel)]="data.data.sampai" disabled>
    </div>
    <div class="right">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Hari</th>
            <th>Jadwal</th>
            <th>Jam Kerja</th>
            <th>Jam istirahat</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of minggu, index as i">
            <td>{{day.hari}}</td>
            <td>
              <div style="display: flex;">
                <select class="browser-default category table" [(ngModel)]="minggu[i].id_jadwal_kerja"
                  (change)="selectJadwalKerja()">
                  <option *ngFor="let row of allJadwalKerja" [value]="row.id_jadwal_kerja">
                    {{ row.id_jadwal_kerja }}
                  </option>
                </select>
                <button class="space category"></button>
              </div>
            </td>
            <td>{{minggu[i].masuk + ' - ' + minggu[i].keluar}}</td>
            <td>{{minggu[i].mulai_istirahat + ' - ' + minggu[i].selesai_istirahat}}</td>
            <td>{{minggu[i].total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="simpan waves-effect waves-light" mat-dialog-close="simpan" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- MODAL DELETE -->
<div *ngIf="deleteCategory || deleteIndividu">
  <mat-dialog-content class="delete">
    <img class="left" src="../../../../../assets/icon/danger.svg" alt="icon-danger" />
    <p style="padding-left: 55px">Yakin data akan di void?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="ya waves-effect waves-light" mat-dialog-close="ya">
      Ya
    </button>
    <button class="tidak waves-effect waves-dark transparent" mat-dialog-close="tidak">
      Tidak
    </button>
  </mat-dialog-actions>
</div>