div.content {
  margin-top: 20px;
  display: flex;
  overflow-x: hidden;
}

div.left {
  width: 70%;
  margin-right: 10px;
}

div.right {
  width: 30%;
  margin-left: 10px;
}

div.nip-name {
  width: 100%;
  display: inline-flex;
  margin-bottom: 15px;
}

div.button {
  position: absolute;
  z-index: 2;
  top: 1;
  right: 0;
  display: flex;
}

/* TABEL */
th,
td {
  text-align: center;
}

th {
  background-color: #ffe6e6;
  border-radius: 0px;
  padding: 20px 10px;
  font-size: 14px;
  font-weight: normal;
}

td {
  padding: 10px;
  font-size: 14px;
}

tbody tr:nth-child(odd) {
  background-color: #fff4f4;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

table.profil {
  width: 100%;
}

table.profil thead,
table.profil tr {
  display: table;
  width: 100%;
}

table.profil tbody {
  width: 100%;
  height: 450px;
  display: block;
  overflow-y: scroll;
}

table.profil th,
table.profil td {
  text-align: left;
}

table.profil th:nth-child(1) {
  width: 75px;
}

table.profil td:nth-child(1) {
  width: 75px;
}

table.profil th:nth-child(2) {
  width: 200px;
}

table.profil td:nth-child(2) {
  width: 200px;
}

table.category td:nth-last-child(1) {
  width: 60px;
}

/* BUTTON */
button.print {
  width: 100px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid grey;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.download {
  width: 96px;
  height: 48px;
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid #d85d5d;
  color: #d85d5d;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.tambah {
  width: 96px;
  height: 48px;
  background-color: #d85d5d;
  border: 1px solid #d85d5d;
  color: white;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.filter {
  background-color: rgba(128, 128, 128, 0);
  border-style: none;
  margin-left: auto;
}

button.void {
  background-color: rgba(128, 128, 128, 0);
  border-style: none;
  margin-left: auto;
}

button.void mat-icon {
  background-color: #d85d5d;
  border-radius: 5px;
  color: white;
}

/* INPUT */
input#periode {
  height: 40px;
  width: 100%;
  padding: 5px;
}

input#nip {
  height: 40px;
  width: 100px;
  padding: 5px;
}

/* TEXT */
p.name {
  margin: auto 10px auto 10px;
}

p.label {
  margin-bottom: 5px;
}
