<h4>Setup Jadwal Kerja</h4>

<mat-tab-group>
  <!-- DETAIL -->
  <mat-tab label="Detail">
    <div class="content row" style="display: flex">
      <div class="col s8" style="margin-right: 10px">
        <table class="responsive-table striped">
          <thead>
            <tr>
              <th>Tanggal</th>
              <th>Hari</th>
              <th>Jadwal</th>
              <th>Jadwal Kerja</th>
              <th>Jadwal Istirahat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of dataDetailJadwalKerja, index as i">
              <td (click)="editDataDetail(i)">{{ dateFormat(row.tgl) }}</td>
              <td (click)="editDataDetail(i)">{{ row.hari }}</td>
              <td (click)="editDataDetail(i)">{{ row.id_jadwalkerja }}</td>
              <td (click)="editDataDetail(i)">{{ row.in }} - {{ row.out }}</td>
              <td (click)="editDataDetail(i)">
                {{ row.mulai_istirahat }} - {{ row.selesai_istirahat }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s4" style="display: flexbox">
        <button class="print waves-effect waves-dark transparent right">
          Print
        </button>
        <div style="display: inline-flex; width: 100%">
          <h6>Periode</h6>
          <div style="margin-left: auto; display: inline-flex">
            <mat-checkbox style="margin: 7px 7px 0px 0px"></mat-checkbox>
            <h6>Akhir</h6>
          </div>
        </div>
        <input type="month" class="browser-default" [value]="yearMonth" />
        <h6>Nama</h6>
        <div style="display: inline-flex; width: 100%">
          <input type="text" class="nip browser-default" />
          <div style="margin-left: 7px">
            <p>agus</p>
          </div>
          <div style="margin-left: auto">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div style="display: block;">
                <div align="end" style="width: 100%; display: flex;">
                  <h6 style="margin-top: 8%; margin-right: 10px; margin-left: 5px;">Lokasi</h6>
                  <select class="browser-default" [(ngModel)]="cek" (change)="filter()">
                    <option *ngFor="let row of dataDetail" [value]="row.id_perusahaan">
                      {{ row.id_perusahaan }}
                    </option>
                  </select>
                  <button class="space"></button>
                </div>
                <!-- <div align="end" style="width: 100%;">disini perusahaan</div>
                <div align="end" style="width: 100%;">disini divisi</div> -->
              </div>
            </mat-menu>
          </div>
        </div>
        <table class="responsive-table striped">
          <thead>
            <tr>
              <th>NIP</th>
              <th>Nama</th>
              <th>Perusahaan</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of dataDetail">
              <td>{{ row.id }}</td>
              <td>{{ row.nama_lengkap }}</td>
              <td>{{ row.id_perusahaan }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>

  <!-- CATEGORY -->
  <mat-tab label="Category">
    <div class="content category">
      <div class="right">
        <button class="download waves-effect waves-dark transparent">
          Download
        </button>
        <button class="tambah waves-effect waves-light" (click)="tambahDataCategory()">
          Tambah
        </button>
      </div>
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>Lokasi</th>
            <th>Divisi</th>
            <th>Departemen</th>
            <th>Sub Departemen</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataCategory">
            <td (click)="editDataCategory(row)">{{ row.lokasi }}</td>
            <td (click)="editDataCategory(row)">{{ row.divisi }}</td>
            <td (click)="editDataCategory(row)">{{ row.departemen }}</td>
            <td (click)="editDataCategory(row)">{{ row.sub_departemen }}</td>
            <td>
              <button (click)="deleteDataCategory(row.id)" class="waves-effect waves-light right red darken-2">
                <i class="material-icons" style="font-size: 15px">close</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <!-- UPLOAD -->
  <mat-tab label="Upload">
    <div class="content">
      <div class="file-field input-field" style="display: inline-flex; margin-left: 0px">
        <div style="margin-right: 10px; width: 75px; text-align: right">
          <h6>Input File</h6>
        </div>
        <div>
          <input style="
              height: 50px;
              width: 250px;
              border: 1px solid rgba(0, 0, 0, 0.5);
              border-style: solid none solid solid;
            " class="file-path validate browser-default" type="text" />
        </div>
        <div class="btn transparent z-depth-0" style="
            color: rgba(0, 0, 0, 0.5);
            height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-style: solid solid solid none;
          ">
          <i class="material-icons">folder</i>
          <input type="file" multiple />
        </div>
      </div>
      <br />
      <div style="display: inline-flex">
        <div style="margin-right: 10px; width: 75px; text-align: right">
          <h6>Periode</h6>
        </div>
        <div>
          <input type="date" style="height: 50px; border: 1px solid rgba(0, 0, 0, 0.5)" name="periode" id="periode" />
        </div>
      </div>
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataUpload">
            <td (click)="editData(row)">{{ row.id }}</td>
            <td (click)="editData(row)">{{ row.nama_lengkap }}</td>
            <td (click)="editData(row)">{{ row.nama_faskes }}</td>
            <td (click)="editData(row)">{{ row.nama_kepala_keluarga }}</td>
            <td (click)="editData(row)">{{ row.nama_ibu_kandung }}</td>
            <td (click)="editData(row)">{{ row.nama_pasangan }}</td>
            <td (click)="editData(row)">{{ row.nama_anak_ke1 }}</td>
            <td (click)="editData(row)">{{ row.nama_anak_ke2 }}</td>
            <td (click)="editData(row)">{{ row.nama_anak_ke3 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>

  <!-- INDIVIDU -->
  <mat-tab label="Individu">
    <div class="content category">
      <div class="right">
        <button class="download waves-effect waves-dark transparent">
          Download
        </button>
        <button class="tambah waves-effect waves-light" (click)="tambahData()">
          Tambah
        </button>
      </div>
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th>NIP</th>
            <th>Nama</th>
            <th>Departemen</th>
            <th>Perusahaan</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of dataIndividu">
            <td (click)="editData(row)">{{ row.id }}</td>
            <td (click)="editData(row)">{{ row.nama_lengkap }}</td>
            <td (click)="editData(row)">{{ row.id_departemen }}</td>
            <td (click)="editData(row)">{{ row.id_perusahaan }}</td>
            <td>
              <button (click)="deleteData(row.id)" class="waves-effect waves-light right red darken-2">
                <i class="material-icons" style="font-size: 15px">close</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>