<h5>Setup Jadwal Kerja</h5>

<div class="button" *ngIf="selectedIndex ===1">
    <button class="download waves-effect waves-dark" (click)="printData('Setup Jadwal Kerja Category')">
        Download
    </button>
    <button class="tambah waves-effect waves-light" (click)="tambahJadwalKerjaCategory()">
        Tambah
    </button>
</div>

<div class="button" *ngIf="selectedIndex === 3">
    <button class="download waves-effect waves-dark" (click)="printData('Setup Jadwal Kerja Individu')">
        Download
    </button>
    <button class="tambah waves-effect waves-light" (click)="tambahJadwalKerjaIndividu()">
        Tambah
    </button>
</div>
<mat-tab-group color="warn" [(selectedIndex)]="selectedIndex">

    <!-- DETAIL -->
    <mat-tab label="Detail">
        <div class="content detail">
            <div class="left">
                <table class="responsive-tabel striped jadwal">
                    <thead>
                        <th>Tanggal</th>
                        <th>Hari</th>
                        <th>Jadwal</th>
                        <th>Jadwal Kerja</th>
                        <th>Jadwal istirahat</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of dataJadwalKerjaPerMonth" (click)="selectJadwalKerja(row.tgl)">
                            <td>{{formatDate(row.tgl)}}</td>
                            <td>{{row.hari}}</td>
                            <td>{{row.id_jadwal_kerja}}</td>
                            <td>{{row.masuk+' - '+row.keluar}}</td>
                            <td>{{row.start_break+' - '+row.end_break}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="right">
                <button class="print" (click)="printData('Setup Jadwal Kerja Detail')">
                    Print
                </button>

                <p class="label">Periode</p>
                <input type="month" name="periode" id="periode" [(ngModel)]="periode"
                    (input)="getDataJadwalKerjaPerMonth(indexProfile, periode)">

                <p class="label">Nama</p>
                <div class="nip-name">

                    <input type="number" name="nip" id="nip" class="browser-default" [matAutocomplete]="auto"
                        (input)="filterNip($event.target)" [value]="dataSelected===undefined?'':dataSelected.nip">
                    <mat-autocomplete #auto>
                        <mat-option *ngFor="let row of dataFiltered" (click)="selectNip(row)">{{row.nip}}</mat-option>
                    </mat-autocomplete>
                    <p class="name">{{dataSelected===undefined?'':dataSelected.nama_lengkap}}</p>

                    <button class="filter">
                        <mat-icon fontIcon="filter_list"></mat-icon>
                    </button>
                </div>

                <table class="responsive-tabel striped profil">
                    <thead>
                        <th>NIP</th>
                        <th>Nama</th>
                        <th>Perusahaan</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of dataJadwalKerjaDetail, index as i"
                            (click)="getDataJadwalKerjaPerMonth(i, periode)">
                            <td>{{row.nip}}</td>
                            <td>{{row.nama_lengkap}}</td>
                            <td>{{row.perusahaan}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>

    <!-- CATEGORY -->
    <mat-tab label="Category">
        <div class="content">
            <table class="responsive-tabel striped category">
                <thead>
                    <th>Lokasi</th>
                    <th>Divisi</th>
                    <th>Departemen</th>
                    <th>Sub Departemen</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dataJadwalKerjaCategory">
                        <td (click)="editJadwalKerjaCategory(row)">{{row.lokasi}}</td>
                        <td (click)="editJadwalKerjaCategory(row)">{{row.divisi}}</td>
                        <td (click)="editJadwalKerjaCategory(row)">{{row.departemen}}</td>
                        <td (click)="editJadwalKerjaCategory(row)">{{row.sub_departemen}}</td>
                        <td>
                            <button class="void" (click)="voidCategory(row.id)">
                                <mat-icon class="waves-effect waves-light" fontIcon="close"></mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>

    <!-- UPLOAD -->
    <mat-tab label="Upload">
        <div class="content upload">
            <div class="header">
                <p class="label upload">Upload File</p>
                <label class="custom-file-upload">
                    <p class="nama upload">{{fileName}}</p>
                    <input type="file" multiple="false" (change)="onFileChange($event)" class="browser-default">
                    <img class="file-icon" src="../../../../assets/icon/folder.svg" alt="Folder Icon">
                </label>
            </div>
            <div class="header">
                <p class="label upload">Periode</p>
                <input type="month" name="periode" id="periode" [(ngModel)]="periodeUpload"
                    class="browser-default upload">
            </div>
            <div class="header">
                <button *ngIf="isValid && isFile" class="void upload">
                    <mat-icon fontIcon="check"></mat-icon>
                </button>
                <p *ngIf="isValid && isFile" class="valid upload">Data Sudah Valid, Silahkan Upload</p>
                <br>
                <button *ngIf="!isValid && isFile" class="void upload">
                    <mat-icon fontIcon="close"></mat-icon>
                </button>
                <p *ngIf="!isValid && isFile" class="valid upload">Data Tidak Valid, Mohon Koreksi Kembali</p>
            </div>
            <div *ngIf="isValid && isFile" class="header">
                <button class="waves-effect waves-light tambah upload" (click)="uploadData()">Upload</button>
            </div>

            <div class="tabel">
                <table class="responsive-tabel striped upload">
                    <thead>
                        <th *ngFor="let row of dataUpload[0]">{{row}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let _ of dataUpload, index as i">
                            <td *ngFor="let row of dataUpload[i+1], index as ii">
                                <span *ngIf="isJadwalKerja[i+1][ii]">{{row}}</span>
                                <span *ngIf="!isJadwalKerja[i+1][ii]" style="color: red">{{row}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>

    <!-- INDIVIDU -->
    <mat-tab label="Individu">
        <div class="content">
            <table class="responsive-tabel striped category">
                <thead>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Departemen</th>
                    <th>Perusahaan</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of dataJadwalKerjaIndividu">
                        <td (click)="editJadwalKerjaIndividu(row)">{{row.nip}}</td>
                        <td (click)="editJadwalKerjaIndividu(row)">{{row.nama_lengkap}}</td>
                        <td (click)="editJadwalKerjaIndividu(row)">{{row.departemen}}</td>
                        <td (click)="editJadwalKerjaIndividu(row)">{{row.perusahaan}}</td>
                        <td>
                            <button class="void" (click)="voidIndividu(row.id)">
                                <mat-icon class="waves-effect waves-light" fontIcon="close"></mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>