<h4>Dashboard</h4>
<div>
    <h5>Jumlah Karyawan Tanggal {{formatDate(tanggal,'DD MMMM YYYY')}}</h5>
    <div class="row">
        <div *ngFor="let chart of dataCharts" style="display: inline-flex;">
            <mat-card *ngIf="chart.for === 'jumlahKaryawan'" class="transparent z-depth-0">
                <mat-card-header>
                    <mat-card-title>{{ chart.chartName }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas [id]="chart.chartName + 'jumlahKaryawan'"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <h5>Status Kehadiran Bulan {{formatDate(tanggal, 'MMMM YYYY')}}</h5>
    <div class="row">
        <div *ngFor="let chart of dataCharts" style="display: inline-flex;">
            <mat-card *ngIf="chart.for === 'statusKehadiran'" class="transparent z-depth-0">
                <mat-card-header>
                    <mat-card-title>
                        <h6>{{ chart.chartName }}</h6>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas [id]="chart.chartName + 'statusKehadiran'"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<h5>Lembur Bulan {{formatDate(tanggal,'MMMM YYYY')}}</h5>
<div class="row">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Keterangan</th>
                <th *ngFor="let lokasi of dataLokasi">{{lokasi==''?'All':lokasi}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jumlah Karyawan Lembur</td>
                <td *ngFor="let karyawan of jumlahKaryawanLembur">{{karyawan}}</td>
            </tr>
            <tr>
                <td>Akumulasi Jam Lembur</td>
                <td *ngFor="let jamLembur of akumulasiJamLembur">{{jamLembur}}</td>
            </tr>
            <tr>
                <td>Rata-Rata Jam Lembur/Orang/Hari</td>
                <td *ngFor="let ratarata of rataRataJamLembur">{{ratarata}}</td>
            </tr>
        </tbody>
    </table>
</div>