h4 {
  color: #d32f2f;
  font-weight: bold;
}

h5 {
  margin: 15px 5px 5px;
}

h6 {
  text-align: center;
  margin: 0px;
  z-index: 3;
}

.row {
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

mat-card {
  width: 350px;
  height: 200px;
  padding: 5px;
  margin: 5px;
  border: 2px solid #d32f2f;
}

mat-card-header {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: center;
}

mat-card-title.mat-card-title {
  margin: 0px;
}

canvas {
  height: 150px;
  width: 100%;
}

table {
  width: 99.6%;
  margin-left: 5px;
  margin-bottom: 5px;
}

th {
  background-color: #ef9a9a7e;
  border-radius: 0px;
}

th,
td {
  border-bottom: 1px solid rgb(143, 143, 143);
}

tbody tr:nth-child(even) {
  background-color: #ffcdd27e;
}

tbody tr:hover {
  background-color: rgba(128, 128, 128, 0.2);
  /* background-color: #ffcdd2; */
}
