<h4>Dashboard</h4>
<div>
    <h5>Jumlah Karyawan Tanggal 18 Nov 2022</h5>
    <div class="row">
        <div *ngFor="let row of jmlKaryawan" style="display: inline-flex;">
            <mat-card *ngIf="row.for === 'jumlahKaryawan'" class="transparent z-depth-0">
                <mat-card-header>
                    <mat-card-title>{{ row.chartName }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas [id]="row.chartName + 'jumlahKaryawan'"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <h5>Status Kehadiran Bulan September 2022</h5>
    <div class="row">
        <div *ngFor="let row of jmlKaryawan" style="display: inline-flex;">
            <mat-card *ngIf="row.for === 'statusKehadiran'" class="transparent z-depth-0">
                <mat-card-header>
                    <mat-card-title>
                        <h6>{{ row.chartName }}</h6>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas [id]="row.chartName + 'statusKehadiran'"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<h5>Lembur Bulan September 2022</h5>
<div class="row">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Keterangan</th>
                <th>All</th>
                <th>TMS 1</th>
                <th>TMS 2</th>
                <th>TMS 3</th>
                <th>TMS 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jumlah Karyawan Lembur</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Akumulasi Jam Lembur</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Rata-Rata Jam Lembur/Orang/Hari</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>