<h1>Dashboard</h1>
<h2>Jumlah Karyawan Tanggal 18 Nov 2022</h2>
<div class="ex">
    <div id="chart1" class="jmlKary">
        <h4>ALL</h4>
    </div>
    <div id="chart2" class="jmlKary">
        <h4>HO</h4>
    </div>
    <div id="chart3" class="jmlKary">
        <h4>TMS 1</h4>
    </div>
    <div id="chart4" class="jmlKary">
        <h4>TMS 2</h4>
    </div>
</div>

<h2>Status Kehadiran Bulan September 2022</h2>
<div class="ex">

    <div id="chart5" class="jmlKary">
        <h4>ALL</h4>
    </div>
    <div id="chart6" class="jmlKary">
        <h4>HO</h4>
    </div>
    <div id="chart7" class="jmlKary">
        <h4>TMS 1</h4>
    </div>
    <div id="chart8" class="jmlKary">
        <h4>TMS 2</h4>
    </div>
</div>

<h2>Lembur Bulan September 2022</h2>
<div class="ex">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Keterangan</th>
                <th>All</th>
                <th>TMS 1</th>
                <th>TMS 2</th>
                <th>TMS 3</th>
                <th>TMS 4</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Jumlah Karyawan Lembur</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Akumulasi Jam Lembur</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Rata-Rata Jam Lembur/Orang/Hari</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>