h1 {
    color: #d32f2f;
    font-weight: bold;
}

h2 {
    margin: 15px 5px 0px;
}

h4 {
    text-align: center;
    margin: 0px;
}

div.ex {
    width: 100%;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.jmlKary {
    border: 2px solid #d32f2f;
    width: 40%;
    height: auto;
    margin: 5px;
    padding: 0px;
    display: inline-block;
}

table,
td,
th {
    border: 1px solid;
    border-color: #d32f2f;
}

table {
    border-collapse: collapse;
    margin: 0px 5px 25px;
}

th {
    text-align: center;
}

tbody tr:hover{
    background-color: rgba(128, 128, 128, 0.2);
}