form {
  display: block;
  justify-content: right;
}

p {
  margin: 10px 0px;
  display: flex;
  justify-content: right;
}

span {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

input {
  height: 40px;
  width: 250px;
  padding: 7.5px;
  border: 1px solid grey;
}

input:invalid {
  border: 1px solid #d85d5d;
}

div.button {
  display: flex;
  justify-content: right;
}

button.simpan {
  height: 50px;
  width: 100px;
  border: 1px solid #d85d5d;
  background-color: #d85d5d;
  color: white;
}

button.batal {
  height: 50px;
  width: 100px;
  border: 1px solid #d85d5d;
  background-color: white;
  color: #d85d5d;
  margin-left: 10px;
}
