<section>
    <form>
        <p>
            <span>Password Lama</span>
            <input [(ngModel)]="form.pwdLama" type="password" name="lama" id="lama" class="browser-default">
        </p>

        <p>
            <span>Password Baru</span>
            <input [(ngModel)]="form.pwdBaru" type="password" name="baru" id="baru" class="browser-default">
        </p>

        <p>
            <span>Konfirmasi Password Baru</span>
            <input [(ngModel)]="form.konfirm" type="password" name="konfirm" id="konfirm" class="browser-default">
        </p>

        <div class="button">
            <button class="waves-effect waves-light simpan" (click)="konfirm()">Simpan</button>
            <button class="waves-effect waves-dark batal" [matDialogClose]="undefined">Batal</button>
        </div>
    </form>
</section>