<div>
    <mat-dialog-content>
        <img class="left" src="../../../../../assets/icon/danger.svg" alt="icon-danger" />
        <p style="padding-left: 55px">Yakin akan menghapus data log?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="padding-left: 150px">
        <button style="width:100px;height:50px;margin-left:5px" class="ya waves-effect waves-light" mat-dialog-close="ya">
            Ya
        </button>
        <button style="width:100px;height:50px;margin-left:5px" class="tidak waves-effect waves-dark transparent" mat-dialog-close="tidak">
            Tidak
        </button>
    </mat-dialog-actions>
</div>