button.ya {
  height: 50px;
  width: 100px;
  color: white;
  background-color: #d85d5d;
  border: 1px solid #d85d5d;
}

button.tidak {
  margin-left: 10px;
  height: 50px;
  width: 100px;
  color: #d85d5d;
  border: 1px solid #d85d5d;
}

.filter .container {
  width: min-content;
}

.filter div.form {
  display: inline-flex;
  margin-bottom: 10px;
}

.filter p {
  width: 115px;
  margin-right: 10px;
}

.filter select {
  width: 250px;
}