<!-- MODAL DELETE -->
<div *ngIf="isDelete">
  <mat-dialog-content>
    <img class="left" src="../../../../../assets/icon/danger.svg" alt="icon-danger" />
    <p style="padding-left: 55px">Yakin data akan di void?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button style="margin-left: 100px" class="ya waves-effect waves-light" mat-dialog-close="ya">
      Ya
    </button>
    <button class="tidak waves-effect waves-dark transparent" [mat-dialog-close]="undefined">
      Tidak
    </button>
  </mat-dialog-actions>
</div>

<!-- MODAL FILTER DATA -->
<div *ngIf="isFilter">
  <mat-dialog-content class="filter">
    <div class="container">
      <div class="form">
        <p>Lokasi</p>
        <select name="lokasi" id="lokasi" class="browser-default" [(ngModel)]="filter.lokasi">
          <option value="">All</option>
          <option *ngFor="let row of dataLokasi" [value]="row.inisial">
            {{ row.inisial }}
          </option>
        </select>
      </div>
      <div class="form">
        <p>Divisi</p>
        <select name="divisi" id="divisi" class="browser-default" [(ngModel)]="filter.divisi">
          <option value="">All</option>
          <option *ngFor="let row of dataBagianKerja" [value]="row.divisi">
            {{ row.divisi }}
          </option>
        </select>
      </div>
      <div class="form">
        <p>Departemen</p>
        <select name="departemen" id="departemen" class="browser-default" [(ngModel)]="filter.departemen">
          <option value="">All</option>
          <option *ngFor="let row of dataBagianKerja" [value]="row.departemen">
            {{ row.departemen }}
          </option>
        </select>
      </div>
      <div class="form">
        <p>Sub Departemen</p>
        <select name="subDepartemen" id="subDepartemen" class="browser-default" [(ngModel)]="filter.subDepartemen">
          <option value="">All</option>
          <option *ngFor="let row of dataBagianKerja" [value]="row.sub_departemen">
            {{ row.sub_departemen }}
          </option>
        </select>
      </div>
      <div class="form">
        <p>Perusahaan</p>
        <select name="perusahaan" id="perusahaan" class="browser-default" [(ngModel)]="filter.perusahaan">
          <option value="">All</option>
          <option *ngFor="let row of dataPerusahaan" [value]="row.nama">
            {{ row.nama }}
          </option>
        </select>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="ya waves-effect waves-light" [mat-dialog-close]="filter">
      Simpan
    </button>
    <button class="tidak waves-effect waves-dark transparent" [mat-dialog-close]="undefined">
      Batal
    </button>
  </mat-dialog-actions>
</div>