/* DIV */
div.navbar {
  display: flex;
  margin-top: 20px;
}

div.body {
  margin-top: 5px;
}

/* INPUT */
input {
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../../../assets/icon/search.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position-x: 7px;
  background-position-y: 50%;
  padding: 5px 5px 5px 40px;
  margin: auto auto auto 0px;
}

/* BUTTON */
button.tambah {
  height: 50px;
  width: 100px;
  margin: auto 0px;
  background-color: #d85d5d;
  border: 1px solid #d85d5d;
  color: white;
}

button.void {
  border-style: none;
}

button.void mat-icon {
  color: white;
  background-color: #d85d5d;
  border-radius: 5px;
}

/* TABLE */
th {
  background-color: #ffe6e6;
  padding: 15px 10px;
}

td {
  padding: 10px;
}

td:nth-last-child(1) {
  width: 40px;
}

tbody tr:nth-child(odd) {
  background-color: #fff4f4;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

tbody tr:hover {
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}
