<div class="header">
    <div class="title">
        <h5>Status Kehadiran</h5>
    </div>

    <div class="navbar">
        <input type="text" name="search" id="search" placeholder="Cari NIP atau Nama" (input)="search($event.target)"
            class="browser-default">

        <mat-paginator [length]="paginator.length" [pageSize]="paginator.pageSize"
            [pageSizeOptions]="paginator.pageSizeOptions" (page)="onChangePage($event)">
        </mat-paginator>

        <button class="tambah waves-effect waves-light" (click)="tambahData()">Tambah</button>
    </div>
</div>

<div class="body">
    <div class="content">
        <table class="responsive-table striped">
            <thead>
                <tr>
                    <th>NIP</th>
                    <th>Nama</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th>Keterangan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of dataStatusKehadiran">
                    <td (click)="editData(row)">{{row.nip}}</td>
                    <td (click)="editData(row)">{{row.nama_lengkap}}</td>
                    <td (click)="editData(row)">
                        {{formatDate(row.status_cuti==='Izin'?row.tgl_mulai_izin:row.tgl_mulai_cuti)}}</td>
                    <td (click)="editData(row)">{{row.status_cuti}}</td>
                    <td (click)="editData(row)">{{row.keterangan}}</td>
                    <td>
                        <button class="void transparent">
                            <mat-icon class="waves-effect waves-light" fontIcon="close"
                                (click)="voidData(row.id)"></mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>