<div>
  <h2 mat-dialog-title>Perusahaan</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>ID Perusahaan</h6>
      <input type="text" class="browser-default disabled" value="{{ idValue }}" disabled />
    </div>
    <div class="right">
      <h6>Inisial</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" [(ngModel)]="inisialValue" type="text" class="browser-default" minlength="2"
          maxlength="5" [disabled]="!akses" />
        <p *ngIf="inisialValue.length===0 && isBlur" style="margin:0px">Data belum terisi</p>
        <p *ngIf="inisialValue.length===1" style="margin:0px">Minimal 2 karakter</p>
      </div>
    </div>
    <div class="right">
      <h6>Nama Perusahaan</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" [(ngModel)]="namaValue" type="text" class="browser-default" minlength="6"
          maxlength="50" [disabled]="!akses" />
        <p *ngIf="namaValue.length===0 && isBlur" style="margin:0px">Data belum terisi</p>
        <p *ngIf="namaValue.length===1" style="margin:0px">Minimal 2 karakter</p>
      </div>
    </div>
    <div class="right alamat">
      <h6>Alamat</h6>
      <div style="display:block">
        <textarea (blur)="isBlur=true" [(ngModel)]="alamatValue" maxlength="255" [disabled]="!akses"></textarea>
        <p *ngIf="alamatValue.length===0 && isBlur" style="margin:0px">Data belum terisi</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" class="simpan waves-effect waves-light" (click)="throwResult()" [disabled]="!akses">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>