<!-- Modal tambah data -->
<div *ngIf="isTambah">
  <h2 mat-dialog-title>Perusahaan</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>ID Perusahaan</h6>
      <input type="text" class="browser-default disabled" value="{{ idValue }}" disabled />
    </div>
    <div class="right">
      <h6>inisial</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" [(ngModel)]="inisialValue" type="text" class="browser-default" minlength="2"
          maxlength="5" />
        <p style="margin:0px; margin-bottom:5px" *ngIf="inisialValue.length===0&&isBlur">Data belum terisi</p>
      </div>
    </div>
    <div class="right">
      <h6>Nama Perusahaan</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" [(ngModel)]="namaValue" type="text" class="browser-default" minlength="6"
          maxlength="50" />
        <p style="margin:0px; margin-bottom:5px" *ngIf="namaValue.length===0&&isBlur">Data belum terisi</p>
      </div>
    </div>
    <div class="right alamat">
      <h6>Alamat</h6>
      <div style="display:block">
        <textarea (blur)="isBlur=true" [(ngModel)]="alamatValue" maxlength="255"></textarea>
        <p style="margin:0px; margin-bottom:5px" *ngIf="alamatValue.length===0&&isBlur">Data belum terisi</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" class="simpan waves-effect waves-light" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- Modal edit data -->
<div *ngIf="isEdit">
  <h2 mat-dialog-title>Perusahaan</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>ID Perusahaan</h6>
      <input type="text" class="browser-default disabled" value="{{ idValue }}" disabled />
    </div>
    <div class="right">
      <h6>inisial</h6>
      <div style="display:block">
        <p *ngIf="inisialValue.length===0&&isBlur">Data belum terisi</p>
      </div>
      <div style="display:block">
        <input (blur)="isBlur=true" id="bla" [value]="data.data.inisial" (keyup)="inisial($event.target)" type="text"
          class="browser-default" minlength="2" maxlength="5" />
        <p style="margin:0px; margin-bottom:5px" *ngIf="inisialValue.length===0&&isBlur">Data belum terisi</p>
      </div>
    </div>
    <div class="right">
      <h6>Nama Perusahaan</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" [value]="data.data.nama" (keyup)="nama($event.target)" type="text"
          class="browser-default" minlength="6" maxlength="50" />
        <p style="margin:0px; margin-bottom:5px" *ngIf="namaValue.length===0&&isBlur">Data belum terisi</p>
      </div>
    </div>
    <div class="right alamat">
      <h6>Alamat</h6>
      <div style="display:block">
        <textarea (blur)="isBlur=true" [value]="data.data.alamat" (keyup)="alamat($event.target)"
          maxlength="255"></textarea>
        <p style="margin:0px; margin-bottom:5px" *ngIf="alamatValue.length===0&&isBlur">Data belum terisi</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" class="simpan waves-effect waves-light" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- Modal delete -->
<div *ngIf="isDelete">
  <mat-dialog-content class="delete">
    <img class="left" src="../../../../../assets/icon/danger.svg" alt="icon-danger" />
    <p style="padding-left: 55px">Yakin data akan di void?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="ya waves-effect waves-light" mat-dialog-close="ya">
      Ya
    </button>
    <button class="tidak waves-effect waves-dark transparent" mat-dialog-close="tidak">
      Tidak
    </button>
  </mat-dialog-actions>
</div>