div.container {
  width: max-content;
}

div.content,
div.actions {
  margin-top: 20px;
}

div.form {
  display: flex;
  margin-top: 5px;
}

div.actions {
  display: flex;
}

/* TEXT */
p.label {
  margin: auto 10px auto 0px;
  width: 165px;
  text-align: right;
}

p.split {
  margin: auto 10px auto auto;
}

p.nama {
  width: 240px;
  margin: auto 0px auto 10px;
}

/* INPUT */
input,
select {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid grey;
}

input[type="number"],
input[type="date"],
input[type="time"] {
  height: 40px;
  width: 125px;
}

input[type="datetime-local"]{
  height: 40px;
  width: 175px;
}

input[type="text"] {
  height: 40px;
  width: 400px;
}

select {
  height: 40px;
  width: 400px;
}

/* BUTTON */
button {
  height: 50px;
  width: 100px;
  border: 1px solid #d85d5d;
}

button.tambah {
  margin-left: auto;
  color: white;
  background-color: #d85d5d;
}

button.batal {
  margin-left: 10px;
  color: #d85d5d;
  background-color: #00000000;
}
