mat-dialog-content.delete {
  width: 460px;
}

button.tidak {
  color: #d85d5d;
  border: 1px solid #d85d5d;
  border-radius: 1px;
  width: 100px;
  height: 50px;
  margin: 5px 0px 5px 5px;
}

button.ya {
  color: #ffffff;
  background-color: #d85d5d;
  border: 1px solid #d85d5d;
  border-radius: 1px;
  width: 100px;
  height: 50px;
  margin: 5px 0px 5px 5px;
}

h6 {
  width: 160px;
  margin-right: 10px;
  text-align: right;
}

mat-dialog-content div {
  display: inline-flex;
  margin-bottom: 10px;
}
