<div>
    <mat-dialog-content class="delete">
        <img class="left" src="../../../../../assets/icon/danger.svg" alt="icon-danger" />
        <p style="padding-left: 55px">Yakin data NIP akan diubah?</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="ya waves-effect waves-light" mat-dialog-close="ya">
            Ya
        </button>
        <button class="tidak waves-effect waves-dark transparent" [mat-dialog-close]>
            Tidak
        </button>
    </mat-dialog-actions>
</div>