.container,
.row {
    margin: auto;
}

.container {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card-content {
    width: 300px;
    padding: auto;
    margin: 0px 50px;
}

img {
    margin-bottom: 50px;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-panel {
    width: 200px;
    margin: 0;
}

div p, div button {
    margin: 14.5px 0px;
}