<mat-sidenav-container autosize>
  <mat-sidenav *ngIf="isLogin" #sidenav class="z-depth-3" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="dashboard" class="logo white" style="margin-top: 30px; margin-bottom: 50px">
        <div class="center-align">
          <span>
            <img *ngIf="isExpanded || isShowing" src="../../assets/logo/logo.png" alt="Logo Perusahaan" />
            <img style="max-width: 33px" *ngIf="!isExpanded && !isShowing" src="../../assets/logo/logo-only.png"
              alt="Logo Only" />
          </span>
        </div>
      </mat-list-item>

      <div id="masterMenu">
        <mat-list-item (click)="isExpanded = true" (click)="showSubmenu = !showSubmenu" class="parent"
          style="color: #d32f2f">
          <span class="full-width" *ngIf="isExpanded || isShowing">
            Master
          </span>
          <mat-icon mat-list-icon> topic </mat-icon>
          <mat-icon class="menu-button" [ngClass]="{ rotated: showSubmenu }" *ngIf="isExpanded || isShowing">
            expand_more
          </mat-icon>
          {{ isMD() }}
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded"
          [ngStyle]="{ display: masterDisplay }">
          <mat-list-item routerLink="bagian-kerja" [ngClass]="{'active': bagianKerja}">Bagian Kerja</mat-list-item>
          <mat-list-item routerLink="perusahaan" [ngClass]="{'active': perusahaan}">Perusahaan</mat-list-item>
          <mat-list-item routerLink="lokasi" [ngClass]="{'active': lokasi}">Lokasi</mat-list-item>
          <mat-list-item routerLink="user" [ngClass]="{'active': user}">User</mat-list-item>
          <mat-list-item routerLink="otoritas" [ngClass]="{'active': otoritas}">Otoritas</mat-list-item>
          <mat-list-item routerLink="karyawan" [ngClass]="{'active': karyawan}">Karyawan</mat-list-item>
          <mat-list-item routerLink="jadwal-kerja" [ngClass]="{'active': jadwalKerja}">Jadwal Kerja</mat-list-item>
          <mat-list-item routerLink="setup-jadwal-kerja" [ngClass]="{'active': setupJadwalKerja}">Set Up Jadwal
            Kerja</mat-list-item>
          <mat-list-item routerLink="kalender-kerja" [ngClass]="{'active': kalenderKerja}">Kalender
            Kerja</mat-list-item>
          <mat-list-item routerLink="mesin-finger" [ngClass]="{'active': mesinFinger}">Mesin Finger</mat-list-item>
          <mat-list-item routerLink="setup-mesin-finger" [ngClass]="{'active': setupMesinFinger}">Set Up Mesin
            Finger</mat-list-item>
        </div>
      </div>

      <div id="statusKehadiran">
        <mat-list-item style="color: #575757" routerLink="status-kehadiran" [ngClass]="{'active': statusKehadiran}">
          <span class="full-width" *ngIf="isExpanded || isShowing">
            Status Kehadiran
          </span>
          <mat-icon mat-list-icon> description </mat-icon>
          <mat-icon *ngIf="isExpanded || isShowing"> </mat-icon>
        </mat-list-item>
      </div>

      <div id="listKehadiran">
        <mat-list-item style="color: #575757" routerLink="list-kehadiran" [ngClass]="{'active': listKehadiran}">
          <span class="full-width" *ngIf="isExpanded || isShowing">
            List Kehadiran
          </span>
          <mat-icon mat-list-icon> list </mat-icon>
          <mat-icon *ngIf="isExpanded || isShowing"> </mat-icon>
        </mat-list-item>
      </div>

      <div id="lembur">
        <mat-list-item style="color: #575757" routerLink="lembur" [ngClass]="{'active': lembur}">
          <span class="full-width" *ngIf="isExpanded || isShowing">
            Lembur
          </span>
          <mat-icon mat-list-icon> more_time </mat-icon>
          <mat-icon *ngIf="isExpanded || isShowing"> </mat-icon>
        </mat-list-item>
      </div>

      <div id="gantiNIP">
        <mat-list-item style="color: #575757" (click)="funcGantiNip()" [ngClass]="{'active': gantiNip}">
          <span class="full-width" *ngIf="isExpanded || isShowing">
            Ganti NIP
          </span>
          <mat-icon mat-list-icon> edit_note </mat-icon>
          <mat-icon *ngIf="isExpanded || isShowing"> </mat-icon>
        </mat-list-item>
      </div>

      <div id="downloadMenu">
        <mat-list-item (click)="isExpanded = true" (click)="showSubSubMenu = !showSubSubMenu" class="parent"
          style="color: #575757">
          <span class="full-width" *ngIf="isExpanded || isShowing">
            Download
          </span>
          <mat-icon mat-list-icon> download </mat-icon>
          <mat-icon class="menu-button" [ngClass]="{ rotated: showSubSubMenu }" *ngIf="isExpanded || isShowing">
            expand_more
          </mat-icon>
          {{ isDD() }}
        </mat-list-item>
        <div class="submenu" [ngClass]="{ expanded: showSubSubMenu }" *ngIf="isShowing || isExpanded"
          [ngStyle]="{ display: downloadDisplay }">
          <mat-list-item (click)="funcDownloadDataPayroll()" [ngClass]="{'active': downloadDataPayroll}">
            Download Data Payroll
          </mat-list-item>
          <mat-list-item (click)="funcDownloadReport()" [ngClass]="{'active': downloadReport}">
            Download report
          </mat-list-item>
          <mat-list-item (click)="funcLogHistory()" [ngClass]="{'active': logHistory}">
            Log history
          </mat-list-item>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="isLogin" class="topButton">
      <button mat-mini-fab class="transparent" (click)="isExpanded = !isExpanded">
        <mat-icon *ngIf="!isExpanded" style="color: #d32f2f">arrow_forward</mat-icon>
        <mat-icon *ngIf="isExpanded" style="color: #d32f2f">arrow_back</mat-icon>
      </button>

      <div class="right">
        <span class="left" style="margin-right: 10px">
          <ul style="text-align: right">
            <li style="color: #d32f2f">{{email}}</li>
            <li>TMS HO</li>
          </ul>
        </span>
        <span>
          <button mat-fab class="imageButton transparent z-depth-0" [matMenuTriggerFor]="menu"></button>
          <mat-menu style="background-color: #fff9f9" #menu>
            <button mat-menu-item>
              <span>
                <mat-icon>key</mat-icon>
              </span>
              Ganti Password
            </button>
            <button mat-menu-item routerLink="login" (click)="logOut()">
              <span>
                <mat-icon>logout</mat-icon>
              </span>
              Log Out
            </button>
          </mat-menu>
        </span>
      </div>
    </div>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>