<div class="container">
    <div class="row valign-wrapper">
        <div class="card horizontal z-depth-5 highlight">
            <div class="card-content row">
                <img class="col s12" src="../../assets/logo/logo.png" alt="Logo Perusahaan">
                <h1 class="col s12">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="signin()">
                    <div class="input-field col s12">
                        <input formControlName="email" id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input formControlName="password" id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                    <div class="col s12">
                        <p>
                            <label for="stay">
                                <input id="stay" type="checkbox" class="filled-in red darken-2" />
                                <span>Stay Signed In</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12">
                        <button class="btn waves-effect waves-light red darken-2 col s12"
                            type="submit" name="action">Sign
                            In
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-panel red darken-2"></div>
        </div>
    </div>
</div>