<div class="dialog">
    <div class="title">
        <h5>Event</h5>
    </div>

    <div class="content">
        <div class="radio-top">
            <mat-radio-group class="karyawan" [(ngModel)]="dataSet.radioTop">
                <mat-radio-button class="mat-warn" value="semua">
                    <p class="label-radio">Semua Karyawan</p>
                </mat-radio-button>
                <mat-radio-button class="mat-warn" value="karyawan">
                    <p class="label-radio">Karyawan</p>
                </mat-radio-button>
            </mat-radio-group>

            <input class="search" type="number" name="search" placeholder="Cari NIP..." [matAutocomplete]="auto" ngModel
                (ngModelChange)="searchKaryawan($event)"
                [ngStyle]="dataSet.radioTop=='karyawan'?{visibility:'visible'}:{visibility:'hidden'}" />

            <mat-autocomplete #auto>
                <mat-option *ngFor="let opt of filteredKaryawan" (click)="selectKaryawan(opt)">
                    {{opt.nip}}
                </mat-option>
            </mat-autocomplete>
        </div>

        <div class="table" *ngIf="dataSet.radioTop=='karyawan'">
            <table class="striped responsive-table">
                <thead>
                    <th class="one">NIP</th>
                    <th class="two">Nama</th>
                    <th class="three">Lokasi</th>
                    <th class="four">Departemen</th>
                    <th class=""></th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of selectedKaryawan, index as i">
                        <td class="one">{{row.nip}}</td>
                        <td class="two">{{row.nama_lengkap}}</td>
                        <td class="three">{{row.lokasi}}</td>
                        <td class="four">{{row.departemen}}</td>
                        <td>
                            <i class="material-icons waves-effect waves-light" (click)="deleteKaryawan(i)">close</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <fieldset>
            <legend>Sumber</legend>
            <div class="form">
                <p class="label-form">Lokasi</p>
                <select name="lokasi" id="lokasi" class="browser-default" [(ngModel)]="dataSet.selectLokasi">
                    <option value="">Pilih Lokasi</option>
                    <option *ngFor="let opt of tabelLokasi" [value]="opt">{{opt}}</option>
                </select>
            </div>
            <div class="form">
                <p class="label-form">Mesin</p>
                <select name="mesin" id="mesin" class="browser-default" [(ngModel)]="dataSet.selectMesin">
                    <option value="">Pilih Mesin</option>
                    <option *ngFor="let opt of tabelMesin" [value]="opt.ip">
                        {{opt.ip
                        + ' - '
                        + opt.lokasi
                        + ' - '
                        + opt.nama}}
                    </option>
                </select>
            </div>
        </fieldset>

        <div class="radio-bottom">
            <div class="radio-left">
                <mat-radio-group class="left" [(ngModel)]="dataSet.radioLeft">
                    <mat-radio-button class="mat-warn" value="tarikData">
                        <p class="label-radio">Tarik Data Log</p>
                    </mat-radio-button>
                    <mat-radio-button class="mat-warn" value="finger">
                        <p class="label-radio">Finger</p>
                    </mat-radio-button>
                </mat-radio-group>

                <mat-radio-group class="sub-left" [(ngModel)]="dataSet.radioSubLeft"
                    [disabled]="dataSet.radioLeft=='tarikData'">
                    <mat-radio-button class="mat-warn" value="tarik">
                        <p class="label-radio">Tarik</p>
                    </mat-radio-button>
                    <mat-radio-button class="mat-warn" value="kirim">
                        <p class="label-radio">Kirim</p>
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="radio-right">
                <mat-radio-group class="right" [(ngModel)]="dataSet.radioRight">
                    <mat-radio-button class="mat-warn" value="deleteFinger">
                        <p class="label-radio">Delete Finger</p>
                    </mat-radio-button>
                    <mat-radio-button class="mat-warn" value="deleteLog">
                        <p class="label-radio">Delete Log</p>
                    </mat-radio-button>
                    <mat-radio-button class="mat-warn" value="singkronisasiTanggal">
                        <p class="label-radio">Singkronisasi Tanggal</p>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </div>

    <div class="action">
        <button class="waves-effect waves-light ok" [mat-dialog-close]="dataSet">OK</button>

        <button class="waves-effect waves-dark batal" [mat-dialog-close]="undefined">Batal</button>
    </div>
</div>