<!-- EVENT -->
<div>
    <h2 mat-dialog-title>Setup Mesin Finger</h2>
    <mat-dialog-content>

        <div style="display: flex; height: 50px; padding-left: 15px;">
            <mat-radio-group [(ngModel)]="isKaryawan" style="display: flex; margin: 15px 0;"
                (change)="changeKaryawan()">
                <mat-radio-button value="semuaKaryawan" style="margin-right: 25px;">
                    <span style="color: #000000DE; font-size: 17.25px;">
                        Semua Karyawan
                    </span>
                </mat-radio-button>
                <mat-radio-button value="karyawan">
                    <span style="color: #000000DE; font-size: 17.25px;">
                        Karyawan
                    </span>
                </mat-radio-button>
            </mat-radio-group>
            <div *ngIf="!isSemuaKaryawan" style="display: block; margin-left: auto;">
                <input type="text" class="browser-default" [(ngModel)]="nip" (input)="searchNip()"
                    [matAutocomplete]="auto" placeholder="Search NIP..">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredKaryawan" (click)="selectKaryawan(option)">
                        {{ option.nip }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>

        <div class="right" *ngIf="!isSemuaKaryawan">
            <table>
                <thead>
                    <tr>
                        <th>NIP</th>
                        <th>Nama</th>
                        <th>Lokasi</th>
                        <th>Departemen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let karyawan of selectedKaryawan, index as i">
                        <td>{{ karyawan.nip }}</td>
                        <td>{{ karyawan.nama_lengkap }}</td>
                        <td>{{ karyawan.lokasi }}</td>
                        <td>{{ karyawan.departemen }}</td>
                        <td>
                            <button *ngIf="karyawan.nip !== ''" (click)="deleteKaryawan(i)"
                                class="waves-effect waves-light right red darken-2">
                                <i class="material-icons" style="font-size: 15px">close</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <fieldset>
            <legend *ngIf="finger === 'tarik'">Sumber</legend>
            <legend *ngIf="finger === 'kirim'">Tujuan</legend>
            <div class="right">
                <h6>Lokasi</h6>
                <select class="browser-default" [(ngModel)]="data.lokasi">
                    <option *ngFor="let row of lokasi" [value]="row">
                        {{ row }}
                    </option>
                </select>
                <button class="space"></button>
            </div>
            <div class="right">
                <h6>Mesin</h6>
                <select class="browser-default" [(ngModel)]="data.mesin">
                    <option *ngFor="let row of mesin" [value]="row">
                        {{ row.nama }} - {{ row.ip }} - {{ row.lokasi }}
                    </option>
                </select>
                <button class="space"></button>
            </div>
        </fieldset>

        <div style="display: flex;">
            <div style="display: block;">
                <div style="display: flex;">
                    <mat-radio-group style="margin: 7.5px 15px;" [(ngModel)]="tarik" (change)="funcTarik()">
                        <mat-radio-button style="margin-bottom: 15px;" value="log" (click)="finger = 'tarik'">
                            <span style="color: #000000DE; font-size: 17.25px;">
                                Tarik data Log
                            </span>
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="finger">
                            <span style="color: #000000DE; font-size: 17.25px;">
                                Finger
                            </span>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div style="padding-left: 30px; display: flex;">
                    <mat-radio-group style="margin: 7.5px 15px;" [(ngModel)]="finger" [disabled]="!isFinger">
                        <mat-radio-button style="margin-bottom: 15px;" value="tarik">
                            <span style="color: #000000DE; font-size: 17.25px;">
                                Tarik
                            </span>
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="kirim">
                            <span style="color: #000000DE; font-size: 17.25px;">
                                Kirim
                            </span>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div style="display: block; margin-left: auto;">
                <div style="padding-left: 15px; display: flex;">
                    <mat-radio-group style="margin: 7.5px 15px;" [(ngModel)]="delSing">
                        <mat-radio-button style="margin-bottom: 15px;" value="delFinger">
                            <span style="color: #d85d5d; font-size: 17.25px;">
                                Delete (Finger)
                            </span>
                        </mat-radio-button>
                        <br>
                        <mat-radio-button style="margin-bottom: 15px;" value="delLog">
                            <span style="color: #d85d5d; font-size: 17.25px;">
                                Delete (Log)
                            </span>
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="SingTanggal">
                            <span style="color: #000000DE; font-size: 17.25px;">
                                Singkronisasi Tanggal
                            </span>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="submit" class="simpan waves-effect waves-light" mat-dialog-close="ok" (click)="throwResult()">
            Ok
        </button>
        <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
            Batal
        </button>
    </mat-dialog-actions>
</div>