div.title {
  margin: 0px 0px 30px 0px;
}

div.form {
  display: flex;
  margin: 7.5px 0px;
}

div.radio-top {
  display: flex;
  align-items: center;
  margin: 0px 0px 10px 0px;
}

div.table {
  margin: 0px 0px 10px 0px;
}

div.radio-bottom {
  display: flex;
  margin: 10px 0px;
}

div.radio-left,
div.radio-right {
  width: 210px;
}

div.action {
  display: flex;
  justify-content: flex-end;
}

fieldset {
  width: 100%;
}

p {
  font-size: 14px;
  color: #000000de;
  padding-right: 10px;
}

p.label-form {
  width: 50px;
}

p.label-radio {
  margin: auto 0px;
}

select,
input {
  height: 40px;
}

select {
  border-color: gray;
  width: 350px;
}

input.search {
  width: 150px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 3px;
  background-image: url("../../../../../assets/icon/search.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position-x: 7.5px;
  background-position-y: 50%;
  padding: 12px 12px 12px 40px;
  margin: 0px 0px 0px auto;
}

.left mat-radio-button,
.sub-left mat-radio-button,
.right mat-radio-button {
  width: 100%;
  margin: 5px 0px;
}

.sub-left mat-radio-button {
  padding: 0px 0px 0px 25px;
}

.action button {
  width: 100px;
  height: 50px;
  margin: 0px 0px 0px 10px;
}

button.ok {
  background-color: #d85d5d;
  color: white;
  border: 1px solid #d85d5d;
}

button.batal {
  background-color: white;
  color: #d85d5d;
  border: 1px solid #d85d5d;
}

i {
  background-color: #d85d5d;
  border-radius: 2.5px;
  color: white;
  margin: 0px;
}

table {
  border-collapse: collapse;
}

thead {
  display: block;
  width: 100%;
  background-color: #ffe6e6;
}

th.one,
td.one {
  width: 65px;
}

th.two,
td.two {
  width: 125px;
}

th.three,
td.three {
  width: 70px;
}

th.four,
td.four {
  width: 115px;
}

tbody {
  display: block;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}

tr:nth-child(odd) {
  background-color: #fff4f4;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

td:nth-last-child(1) {
  width: 34px;
}
