h2 {
  text-align: left;
  margin: 0px 40px 20px;
}

mat-dialog-content {
  padding: 0px;
  margin: 0px 40px;
  width: 410px;
}

mat-dialog-content div {
  display: inline-flex;
}

mat-dialog-content.delete {
  padding: 0px;
  margin: 0px 40px;
}

mat-dialog-actions {
  padding: 0px;
  margin: 0px 45px;
  width: 410px;
}

input {
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding: 5px;
  border: 1px solid #00000050;
  border-radius: 2px;
  height: 3rem;
}

select {
  margin-bottom: 5px;
  margin-right: 0px;
  background-color: rgb(255, 255, 255);
  width: 287px;
  padding: 5px;
  border: 1px solid #00000050;
  border-style: solid none solid solid;
  border-radius: 2px 0px 0px 2px;
  height: 3rem;
}

button.space {
  height: 45px;
  width: 13px;
  margin-right: 0px;
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #00000050;
  border-style: solid solid solid none;
  border-radius: 0px 2px 2px 0px;
}

input.dum{
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  width: 10px;
  padding: 5px;
  border: 1px solid #00000050;
  border-radius: 2px;
  height: 3rem;
}

input.disabled {
  background-color: #f1f1f1;
}

img {
  margin: 10px 0px;
}

h6 {
  margin: 10px;
  padding: 0px;
}

button.tidak,
button.batal {
  color: #d85d5d;
  border: 1px solid #d85d5d;
  border-radius: 1px;
  width: 100px;
  height: 50px;
  margin: 5px;
}

button.ya,
button.simpan {
  color: #ffffff;
  background-color: #d85d5d;
  border: 1px solid #d85d5d;
  border-radius: 1px;
  width: 100px;
  height: 50px;
  margin: 5px;
}
