<h2 mat-dialog-title>Bagian Kerja</h2>
<mat-dialog-content>
  <div>
    <h6>Jenis</h6>
    <select #selected class="browser-default" [(ngModel)]="selectedJenis">
      <option *ngFor="let raw of jenis" [value]="raw.value">
        {{ raw.viewValue }}
      </option>
    </select>
  </div>
  <div>
    <h6>Lokasi</h6>
    <select class="browser-default">
      <option *ngFor="let raw of lokasi" [value]="raw.value">
        {{ raw.viewValue }}
      </option>
    </select>
  </div>
  <div *ngIf="selectedJenis === 'departemen'">
    <h6>Divisi</h6>
    <select class="browser-default">
      <option *ngFor="let raw of divisi" [value]="raw.value">
        {{ raw.viewValue }}
      </option>
    </select>
  </div>
  <div *ngIf="selectedJenis === 'sub-departemen'">
    <h6>Departemen</h6>
    <select class="browser-default">
      <option *ngFor="let raw of departemen" [value]="raw.value">
        {{ raw.viewValue }}
      </option>
    </select>
  </div>
  <div>
    <h6>Deskripsi</h6>
    <input type="text" class="browser-default" />
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="simpan">Simpan</button>
  <button mat-button mat-dialog-close="batal">Batal</button>
</mat-dialog-actions>
