mat-form-field {
  width: 300px;
}

h2 {
  text-align: center;
}

mat-dialog-content {
  margin: 0px 100px;
}

div {
  width: 300px;
}

input,
select {
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}
