<!-- Modal tambah -->
<div *ngIf="isTambah">
  <h2 mat-dialog-title>Bagian Kerja</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>Jenis</h6>
      <select class="browser-default" [(ngModel)]="jenisValue">
        <option *ngFor="let raw of jenis" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div class="right">
      <h6>Lokasi</h6>
      <select class="browser-default" [(ngModel)]="lokasiValue">
        <option *ngFor="let raw of lokasi" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div *ngIf="jenisValue == 'Departemen'" class="right">
      <h6>Divisi</h6>
      <select class="browser-default" [(ngModel)]="divisiValue">
        <option *ngFor="let raw of divisi" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div *ngIf="jenisValue == 'Sub Departemen'" class="right">
      <h6>Departemen</h6>
      <select class="browser-default" [(ngModel)]="departemenValue">
        <option *ngFor="let raw of departemen" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div class="right">
      <h6>Deskripsi</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" type="text" class="browser-default" [(ngModel)]="subDepartemenValue" minlength="2"
          maxlength="50" />
        <p *ngIf="subDepartemenValue.length===0 && isBlur" style="margin:0px">Data belum terisi</p>
        <p *ngIf="subDepartemenValue.length===1" style="margin:0px">Minimal 2 karakter</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="simpan waves-effect waves-light" [disabled]="subDepartemenValue.length<2" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- Modal edit -->
<div *ngIf="isEdit">
  <h2 mat-dialog-title>Bagian Kerja</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>Jenis</h6>
      <input type="text" class="browser-default disabled" [value]="data.edit.jenis_bagian" disabled />
    </div>
    <div class="right">
      <h6>Lokasi</h6>
      <input type="text" class="browser-default disabled" [value]="data.edit.lokasi" disabled />
    </div>
    <div *ngIf="jenisValue == 'Departemen'" class="right">
      <h6>Divisi</h6>
      <input type="text" class="browser-default disabled" [value]="data.edit.divisi" disabled />
    </div>
    <div *ngIf="jenisValue == 'Sub Departemen'" class="right">
      <h6>Departemen</h6>
      <input type="text" class="browser-default disabled" [value]="data.edit.departemen" disabled />
    </div>
    <div class="right">
      <h6>Deskripsi</h6>
      <div style="display:block">
        <input (blur)="isBlur=true" type="text" class="browser-default" (keyup)="onKey($event.target)"
          [value]="data.edit.sub_departemen" minlength="2" maxlength="50" />
        <p *ngIf="subDepartemenValue.length===0 && isBlur" style="margin:0px">Data belum terisi</p>
        <p *ngIf="subDepartemenValue.length===1" style="margin:0px">Minimal 2 karakter</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="simpan waves-effect waves-light" (click)="throwResult()">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>

<!-- Modal delete -->
<div *ngIf="isDelete">
  <mat-dialog-content class="delete">
    <img class="left" src="../../../../../assets/icon/danger.svg" alt="icon-danger" />
    <p style="padding-left: 55px">Yakin data akan di void?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="ya waves-effect waves-light" mat-dialog-close="ya">
      Ya
    </button>
    <button class="tidak waves-effect waves-dark transparent" mat-dialog-close="tidak">
      Tidak
    </button>
  </mat-dialog-actions>
</div>