<div class="tambah">
    <h2 mat-dialog-title>Mesin Finger</h2>
    <mat-dialog-content>
        <div class="right" style="margin-top: 10px;">
            <h6>Nama Mesin</h6>
            <input [disabled]="!akses" type="text" class="browser-default keterangan" placeholder="Nama Mesin"
                [(ngModel)]="tambahData.nama">
        </div>
        <div class="right" style="margin-top: 10px;">
            <h6>Serial Number</h6>
            <input [disabled]="!akses" type="text" class="browser-default keterangan" placeholder="Serial Number"
                [(ngModel)]="tambahData.serial">
        </div>
        <div class="right" style="margin-top: 10px;">
            <h6>Lokasi</h6>
            <select [disabled]="!akses" class="browser-default" [(ngModel)]="tambahData.lokasi">
                <option *ngFor="let option of lokasi" [value]="option">
                    {{ option }}
                </option>
            </select>
        </div>
        <div class="right" style="margin-top: 10px;">
            <h6>Alamat IP</h6>
            <input [disabled]="!akses" type="text" class="browser-default keterangan" placeholder="Alamat IP"
                [(ngModel)]="tambahData.ip">
        </div>
        <div class="right" style="margin-top: 10px;">
            <h6>Port</h6>
            <input [disabled]="!akses" type="text" class="browser-default keterangan" placeholder="Port"
                [(ngModel)]="tambahData.port">
        </div>
        <div class="right" style="width: 400px; margin-top: 10px;">
            <span style="color: #000000DE; font-size: 17.25px; margin-right: 10px;">
                Finger
            </span>
            <mat-checkbox [disabled]="!akses" class="mat-warn" [(ngModel)]="tambahData.finger"
                style="margin-right:25px"></mat-checkbox>
            <span style="color: #000000DE; font-size: 17.25px; margin-right: 10px;">
                Kartu
            </span>
            <mat-checkbox [disabled]="!akses" class="mat-warn" [(ngModel)]="tambahData.kartu"
                style="margin-right:25px"></mat-checkbox>
            <span style="color: #000000DE; font-size: 17.25px; margin-right: 10px;">
                Wajah
            </span>
            <mat-checkbox [disabled]="!akses" class="mat-warn" [(ngModel)]="tambahData.wajah"></mat-checkbox>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="simpan waves-effect waves-light" [mat-dialog-close]="tambahData" [disabled]="!akses">
            Simpan
        </button>
        <button class="batal waves-effect waves-light transparent" [mat-dialog-close]="undefined">
            Batal
        </button>
    </mat-dialog-actions>
</div>