<h4>Karyawan</h4>
<div class="nav">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper row">
      <div class="col s3" style="display: inline-flex;">
        <input class="browser-default search" type="text" name="search" placeholder="Cari Nama Karyawan.."
          [(ngModel)]="search" (input)="ngOnInit()" />
        <button align="bottom" class="transparent filter"
          (click)="filterData()"><mat-icon>filter_alt</mat-icon></button>
      </div>
      <div class="col s9">
        <ul class="right">
          <li>
            <mat-paginator class="transparent" [length]="paginator.length" [pageSize]="paginator.pageSize"
              [pageIndex]="paginator.pageIndex" [pageSizeOptions]="paginator.pageSizeOptions"
              (page)="handlePageEvent($event)">
            </mat-paginator>
          </li>
          <li>
            <button class="download waves-effect waves-dark transparent" [matMenuTriggerFor]="menuHistory">
              Download History
            </button>
            <mat-menu #menuHistory="matMenu">
              <button mat-menu-item (click)="printData('History Status')">
                <mat-icon><i class="material-icons menu">perm_contact_calendar</i></mat-icon>
                <span>Status</span>
              </button>
              <button mat-menu-item (click)="printData('History Penugasan')">
                <mat-icon><i class="material-icons menu">card_travel</i></mat-icon>
                <span>Penugasan</span>
              </button>
              <button mat-menu-item>
                <mat-icon><i class="material-icons menu">receipt</i></mat-icon>
                <span>Gaji Karyawan</span>
              </button>
            </mat-menu>
          </li>
          <li>
            <button class="download waves-effect waves-dark transparent" [matMenuTriggerFor]="menu">
              Download
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon><i class="material-icons menu">perm_contact_calendar</i></mat-icon>
                <span>Pribadi</span>
              </button>
              <button mat-menu-item>
                <mat-icon><i class="material-icons menu">card_travel</i></mat-icon>
                <span>Pekerjaan & Organisasi</span>
              </button>
              <button mat-menu-item>
                <mat-icon><i class="material-icons menu">class</i></mat-icon>
                <span>Periode Kontrak</span>
              </button>
              <button mat-menu-item>
                <mat-icon><i class="material-icons menu">receipt</i></mat-icon>
                <span>Gaji Karyawan</span>
              </button>
            </mat-menu>
          </li>
          <li>
            <button class="tambah waves-effect waves-light" (click)="tambahData()">
              Tambah
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<table class="responsive-table striped">
  <thead>
    <tr>
      <th>NIP</th>
      <th>Nama</th>
      <th>Departemen</th>
      <th>Jabatan</th>
      <th>Perusahaan</th>
      <th>Lokasi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataKaryawan">
      <td (click)="editData(row)">{{ row.nip }}</td>
      <td (click)="editData(row)">{{ row.nama_lengkap }}</td>
      <td (click)="editData(row)">{{ row.departemen }}</td>
      <td (click)="editData(row)">{{ row.jabatan }}</td>
      <td (click)="editData(row)">{{ row.perusahaan }}</td>
      <td (click)="editData(row)">{{ row.lokasi }}</td>
      <td>
        <button class="waves-effect waves-light right red darken-2" (click)="deleteData(row.id)">
          <i class="material-icons" style="font-size: 15px">close</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>