<div>
  <h2 mat-dialog-title>User</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>User</h6>
      <input class="browser-default user" type="text" [matAutocomplete]="auto" (input)="searchKaryawan($event.target)"
        [value]="dataUser.nip" [disabled]="!aksesEdit" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredKaryawan" (click)="selectKaryawan(option)">{{ option.nip + " - " +
          option.nama_lengkap }}</mat-option>
      </mat-autocomplete>
      <span style="width: 250px; height: 45px">
        <p>{{ dataUser.username }}</p>
      </span>
    </div>
    <div class="right">
      <h6>Email</h6>
      <input placeholder="Email" type="text" class="browser-default disabled" [value]="dataUser.email" disabled />
    </div>
    <div class="right">
      <h6>Password</h6>
      <div>
        <input placeholder="Password" [type]="hide1 ? 'password' : 'text'" class="browser-default password"
          [(ngModel)]="dataUser.password" [disabled]="!aksesEdit" />
        <button (click)="hide1 = !hide1" class="visible">
          <img src="../../../../../assets/icon/eye_close.svg" alt="eye_close" *ngIf="hide1" />
          <img src="../../../../../assets/icon/eye.svg" alt="eye_close" *ngIf="!hide1" />
        </button>
      </div>
    </div>
    <div class="right" *ngIf="aksesEdit">
      <h6>Konfirmasi</h6>
      <div>
        <input placeholder="Konfirmasi Password" [type]="hide2 ? 'password' : 'text'" class="browser-default password"
          (input)="konfirmPwd($event.target)" [value]="konfirmPassword" />
        <button (click)="hide2 = !hide2" class="visible">
          <img src="../../../../../assets/icon/eye_close.svg" alt="eye_close" *ngIf="hide2" />
          <img src="../../../../../assets/icon/eye.svg" alt="eye_close" *ngIf="!hide2" />
        </button>
      </div>
    </div>
    <div class="right konfirm" *ngIf="dataUser.password !== konfirmPassword">
      Password tidak sama
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="submit" class="simpan waves-effect waves-light" [mat-dialog-close]="dataUser">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" [mat-dialog-close]="undefined">
      Batal
    </button>
  </mat-dialog-actions>
</div>