<div>
    <h2 mat-dialog-title>Edit Kehadiran</h2>
    <mat-dialog-content>
        <div style="display: block;">
            <div class="right">
                <h6>Tanggal</h6>
                <input [ngModel]="formatDate(selectedJadwalKerja.tgl)" type="text" class="browser-default date"
                    disabled />
            </div>
            <div class="right" style="margin-bottom: 10px;">
                <h6>Jadwal Kerja</h6>
                <input [ngModel]="selectedJadwalKerja.masuk+' - '+selectedJadwalKerja.keluar" type="text"
                    class="browser-default jamKerja" disabled />
                <input [ngModel]="selectedJadwalKerja.start_break+' - '+selectedJadwalKerja.end_break" type="text"
                    class="browser-default jamIstirahat" disabled />
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Jam</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of tabelStatus, index as i">
                            <td>{{formatDate(row.tgl)}}</td>
                            <td>{{row.jam}}</td>
                            <td>
                                <div class="switch">
                                    <label style="height: 50px; padding-top: 10px;">
                                        <input type="checkbox" [(ngModel)]="row.isMasuk">
                                        <span class="lever" style="margin-left: 0px;"></span>
                                        <span style="color: #000000DE; font-size: 17.25px;">
                                            {{ row.isMasuk? 'Masuk' : 'Keluar'}}
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="waves-effect waves-light right red darken-2" (click)="btnVoid(i)">
                                    <i class="material-icons" style="font-size: 15px">close</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="left">
                <h6>Status</h6>
                <select class="browser-default" [(ngModel)]="selectedJadwalKerja.status_cuti">
                    <option *ngFor="let option of statusKehadiran">{{ option }}</option>
                </select>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="manual waves-effect waves-light transparent" (click)="absenManual()">
            Absen Manual
        </button>
        <button type="submit" class="simpan waves-effect waves-light" (click)="simpan()"
            [mat-dialog-close]="dataListKehadiran">
            Simpan
        </button>
        <button class="batal waves-effect waves-light transparent" [mat-dialog-close]="undefined">
            Batal
        </button>
    </mat-dialog-actions>
</div>