<mat-sidenav-container autosize>
    <mat-sidenav #sidenav class="z-depth-3" mode="side" opened="true" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <mat-nav-list>
            <mat-list-item class="white" style="margin-top: 30px;margin-bottom: 50px;">
                <div class="center-align">
                    <span>
                        <img *ngIf="isExpanded || isShowing" src="../../assets/logo/logo.png" alt="Logo Perusahaan">
                    </span>
                    <img style="max-width: 33px;" *ngIf="!isExpanded && !isShowing"
                        src="../../assets/logo/logo-only.png" alt="Logo Only">
                </div>
            </mat-list-item>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" style="color: #d32f2f;">
                <span class="full-width center-align" *ngIf="isExpanded || isShowing">Master</span>
                <mat-icon mat-list-icon>folder</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <a mat-list-item href="">Bagian Kerja</a>
                <a mat-list-item href="">Perusahaan</a>
                <a mat-list-item href="">Lokasi</a>
                <a mat-list-item href="">User</a>
                <a mat-list-item href="">Karyawan</a>
                <a mat-list-item href="">Jadwal Kerja</a>
                <a mat-list-item href="">Set Up Jadwal Kerja</a>
                <a mat-list-item href="">Kalender Kerja</a>
                <a mat-list-item href="">Mesin Finger</a>
                <a mat-list-item href="">Set Up Mesin Finger</a>
                <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}"
                        *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
                    <mat-list-item>SubSubmenu Item 1</mat-list-item>
                    <mat-list-item>SubSubmenu Item 2</mat-list-item>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="red lighten-5">
        <div class="container">
            <button mat-mini-fab class="red darken-2" (click)="isExpanded = !isExpanded">
                <i class="material-icons" *ngIf="!isExpanded">keyboard_arrow_right</i>
                <i class="material-icons" *ngIf="isExpanded">keyboard_arrow_left</i>
            </button>
        </div>

        <!-- <div class="example-sidenav-content">
            Main content that resizes properly
        </div> -->
    </mat-sidenav-content>

</mat-sidenav-container>