<!-- Modal tambah or edit -->
<div class="tambah" *ngIf="isTambah || isEdit">
  <h2 mat-dialog-title>Jadwal Kerja</h2>
  <mat-dialog-content>
    <div class="right">
      <h6>ID Jadwal</h6>
      <input type="text" class="browser-default disabled" disabled [value]="jadwalKerja.id_jadwal_kerja" />
    </div>
    <div class="right">
      <h6>Inisial Lokasi</h6>
      <select *ngIf="isTambah" class="browser-default" (change)="onChange($event.target)" [disabled]="!akses">
        <option *ngFor="let raw of lokasi" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <select *ngIf="isEdit" class="browser-default" [(ngModel)]="lokasiValue" (change)="onChange($event.target)"
        [disabled]="!akses">
        <option *ngFor="let raw of lokasi" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div class="right">
      <h6>Shift</h6>
      <select *ngIf="isTambah" class="browser-default" (change)="onChange($event.target)" [disabled]="!akses">
        <option *ngFor="let raw of shift" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <select *ngIf="isEdit" class="browser-default" [(ngModel)]="shiftValue" (change)="onChange($event.target)"
        [disabled]="!akses">
        <option *ngFor="let raw of shift" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div class="right">
      <h6>Jam Kerja</h6>
      <select *ngIf="isTambah" class="browser-default" (change)="onChange($event.target)" [disabled]="!akses">
        <option *ngFor="let raw of jamKerja" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <select *ngIf="isEdit" class="browser-default" [(ngModel)]="jamKerjaValue" (change)="onChange($event.target)"
        [disabled]="!akses">
        <option *ngFor="let raw of jamKerja" [value]="raw.value">
          {{ raw.value }}
        </option>
      </select>
      <button class="space"></button>
    </div>
    <div class="right">
      <h6>Jam Masuk</h6>
      <input type="time" class="browser-default" [(ngModel)]="jadwalKerja.masuk" (input)="onChange($event.target)"
        [disabled]="!akses" />
      <h6 style="width: 25px">s.d</h6>
      <input type="time" class="browser-default sd" [(ngModel)]="jadwalKerja.keluar" (input)="onChange($event.target)"
        [disabled]="!akses" />
    </div>
    <div class="right">
      <h6>Jam Istirahat</h6>
      <input type="time" class="browser-default" [(ngModel)]="jadwalKerja.start_break" (input)="onChange($event.target)"
        [disabled]="!akses" />
      <h6 style="width: 25px">s.d</h6>
      <input type="time" class="browser-default sd" [(ngModel)]="jadwalKerja.end_break"
        (input)="onChange($event.target)" [disabled]="!akses" />
    </div>
    <div class="right">
      <h6>Total Jam Kerja</h6>
      <input type="text" class="browser-default disabled" disabled [value]="jadwalKerja.total + ' Jam'" />
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="simpan waves-effect waves-light" mat-dialog-close="simpan" (click)="throwResult()"
      [disabled]="!akses">
      Simpan
    </button>
    <button class="batal waves-effect waves-light transparent" mat-dialog-close="batal">
      Batal
    </button>
  </mat-dialog-actions>
</div>